<div id='posts'>
<% @posts.each do |po| %>
<div class="post"><%= po.body %><span class="time"> <%= po.created_at.strftime("%b %e, %l:%M %p" )%></span></div>
<% end %>
</div>
<footer>
<%= form_for( @post, remote: true ) do |f| %>
<%= f.text_field :body %>
<%= f.button :submit do %>
Send &#9166
<% end %>
<% end %>
<small> Press Delete to Clear Text Field </small>
</footer>
